.mainOuterCtn {
  height: 100%;
  background-color: #282c34;
  display: flex;
  justify-content: center;
}

.header {

}

.dialogCtn {
  padding: 0.625rem 0.9375rem;
}

.headerText {
  font-weight: 600;
}

.titleText {
  margin-block-start: 0.5rem ;
  margin-block-end: 0.75rem ;
  font-weight: 500;
  /* padding: 0.625rem; */
}

.outerCtn {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column ;
}

.innerCtn {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  row-gap: 10px;
}

.actionBox {
  margin-top: 1rem;
}

.actionBoxInner {
  display: flex;
  justify-content: center;
}

.icons {
  width: 1.5625rem;
  height: 1.5625rem;
}