.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.nav {
  background-color: #121212 !important;
  color: #ffffff;
  height: 64px;
  width: 100%;
  max-width: 500px;
  max-width: unset;
}
