:root {
  --mobile-navigator-height: 4rem;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.nav {
  background-color: var(--mobile-navigator-background) !important;
  color: var(--mobile-navigator-icon-color) !important;
  height: var(--mobile-navigator-height);
  width: 100%;
  max-width: unset;
}
