:root {
  --color-background-paper: #fff;
  --color-text-primary: #222;
  --color-text-secondary: #666;
  --color-text-disabled: #ccc;
  --color-primary-main: #007bff;
  --color-primary-light: #0056b3;
  --color-primary-contrastText: #fff;
  --border-radius: 0.5rem;
  --box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  --max-width-form: 25rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
  background-color: var(--color-background-paper);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  max-width: var(--max-width-form);
  margin: auto;
}

.formTitle {
  font-size: 1.5rem;
  color: var(--color-text-primary);
  margin-bottom: 1.25rem;
}

.inputLabel {
  width: 100%;
  margin: 0.625rem 0 0.3125rem;
  font-size: 0.875rem;
  color: var(--color-text-secondary);
}

.inputField {
  width: 100%;
  padding: 0.625rem;
  margin: 0.625rem 0;
  border: 0.0625rem solid var(--color-text-disabled);
  border-radius: 0.25rem;
  font-size: 1rem;
}

.submitButton {
  width: 100%;
  padding: 0.625rem;
  margin: 0.625rem 0;
  background-color: var(--color-primary-main);
  color: var(--color-primary-contrastText);
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: var(--color-primary-light);
}

.toggleMessage {
  cursor: pointer;
  color: var(--color-secondary-main);
  margin-top: 0.625rem;
  font-size: 0.875rem;
}

.toggleMessage:hover {
  color: var(--color-secondary-light);
  text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .formContainer {
    padding: 1rem;
    max-width: 90%;
  }

  .formTitle {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .inputField, .submitButton {
    font-size: 0.875rem;
    padding: 0.5rem;
  }

  .toggleMessage {
    font-size: 0.75rem;
  }
}

@media (max-width: 480px) {
  .formContainer {
    padding: 0.625rem;
    max-width: 100%;
  }

  .formTitle {
    font-size: 1rem;
    margin-bottom: 0.625rem;
  }

  .inputField, .submitButton {
    font-size: 0.75rem;
    padding: 0.375rem;
  }

  .toggleMessage {
    font-size: 0.625rem;
  }
}
