.mainOuterCtn {
  height: 100dvh;
}

.header {
  height: 50px;
}

.mainBody {
  height: calc(100% - 4.28125rem);
}

/* New Styles */
.mainOuterCtnNew {
  background: var(--color-background-dark);
  height: 100dvh;
  padding: 15px;
  display: flex;
  gap: 1rem;
}

.mainContent {
  width: calc(100% - 19.375rem);
  padding: 1rem;
  background-color: var(--color-foreground-dark);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.titleTxtCtn {
  border-bottom: 1px solid rgba(49, 49, 49, 1);
}

.titleText {
  margin: 0;
  color: var(--color-text-main-new)
}

.outletContainer {
  flex: 1;
  overflow-y: auto;
  margin-block-start: 0.5rem;
}

@media (max-width: 900px) {
  .mainBody {
    height: calc(100% - 4rem);
  }  
}

@media (max-width: 600px) {
  .mainBody {
    height: calc(100% - 3.5rem);
  }  
}