.mainOuterCtn {
  height: 100dvh;
}

.header {
  height: 50px;
}

.mainBody {
  height: calc(100% - 4.28125rem);
}

/* New Styles */
.mainOuterCtnNew {
  background: var(--color-background-dark);
  height: 100dvh;
  padding: 15px;
  display: flex;
  gap: 1rem;
}

.mainContent {
  width: calc(100% - 19.375rem);
  padding: 1rem;
  background-color: var(--color-foreground-dark);
  border-radius: 0.5rem;
}

@media (max-width: 900px) {
  .mainBody {
    height: calc(100% - 4rem);
  }  
}

@media (max-width: 600px) {
  .mainBody {
    height: calc(100% - 3.5rem);
  }  
}